/* BODY SECTION */
body {
  background-color: #DB7093;
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  height: 100vh;
}

/* NAVIGATE BAR */
nav{
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 4rem;
}

/* MAIN PAGE */
.main-page{
  display: flex;
  justify-content: space-between;
  height: 100%
}

/* LEFT AND RIGHT SECTIONS */
.right-section,
.left-section{
  background-color: #DCDCDC;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin: 100px 50px; */
}

.human-wins,
.computer-wins{
  font-size: 1rem;
}

.human-header,
.computer-header{
  margin-top: 0px;
  margin-bottom: 0px;
}

.change-game-button{
  border: none;
  border-radius: 5px;
  background-color: #DB7093;
  color: black;
  padding: 10px;
  margin-top: 50px;
}

/* MIDDLE SECTION */
.middle-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-button:hover{
  cursor: pointer;
  background: white;
}

.change-game-button:hover{
  background-color: white;
  cursor: pointer;
}

.game-button{
  background-color: #DCDCDC;
  border: none;
  border-radius: 5px;
  margin: 25px;
  width: 300px;
}

.classic,
.difficult{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

/* FIGHTERS */
.fighter-images{
  margin-top: 100px;
  display: inline;
}

.image{
  height: auto;
  width: 15%;
  margin-bottom: 0px;

}

.image:hover{
  cursor: pointer;
}

span{
  bottom: -24px;
  left: -96px;
  position: relative;
}
