/* BODY SECTION */
body {
  background-color: #5F9EA0;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

/* NAVIGATE BAR */
nav{
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 4rem;
}

/* MAIN PAGE */
.main-page{
  display: flex;
  justify-content: space-between;
}

.right-section,
.left-section{
  background-color: #DCDCDC;
  width: 15%;
}
/* LEFT SECTION */


/* RIGHT SECTION */


.hidden {
  display: none;
}
