/* BODY SECTION */
body {
  background-color: #87CEEB;
  ;
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  height: 100vh;
}

/* MAIN PAGE */
.main-page {
  display: flex;
  justify-content: space-between;
  height: 100%
}

/* LEFT AND RIGHT SECTIONS */
.right-section,
.left-section {
  background-color: #DCDCDC;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.human-wins,
.computer-wins {
  font-size: 1rem;
}

.human-header,
.computer-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.change-game-button {
  border: none;
  border-radius: 5px;
  background-color: #87CEEB;
  ;
  color: black;
  padding: 10px;
  margin-top: 50px;
}

/* MIDDLE SECTION */
.middle-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.game-button:hover {
  cursor: pointer;
  background-color: white;
}

.change-game-button:hover {
  background-color: white;
  cursor: pointer;
}

.game-button {
  background-color: #DCDCDC;
  border: none;
  border-radius: 5px;
  margin: 25px;
  width: 300px;
}

.classic,
.difficult {
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.title {
  font-size: 4rem;
  margin-bottom: 0px;
}

.game-heading {
  margin-top: 8px;
}

/* FIGHTERS */
.fighter-images {
  margin-top: 100px;
  display: inline;
}

.image {
  height: auto;
  width: 15%;
  margin-bottom: 0px;
}

.image:hover {
  background-color: #DCDCDC;
  cursor: pointer;
  border-radius: 20%;
}
