/* BODY SECTION */
body {
  background-color: #5F9EA0;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

/* NAVIGATE BAR */
nav{
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 3rem;
}

/* MAIN PAGE */
.main-page{
  display: flex;
  justify-content: space-between;
}

/* LEFT SECTION */
.left-section{
  background-color: #DCDCDC;
  width: 10%;
  padding: 20px;
}

/* RIGHT SECTION */
.right-section{
  background-color: #DCDCDC;
  width: 10%;
  padding: 20px;
}

.hidden {
  display: none;
}
